{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ animal['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ request.form['name'] or animal['name'] }}" required>
        <label for="species">Species</label>
        <input name="species" id="species" value="{{ request.form['species'] or animal['species'] }}">
        <label for="age">Age</label>
        <input name="age" id="age" value="{{ request.form['age'] or animal['age'] }}">
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('animal.delete', id=animal['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}